@import './fonts.styl'
@import './queries.styl'

html
  font-size 12px
  box-sizing: border-box

body
p
  margin 0

.container
p
body
  padding 0

.yellow
  color #ffde79

.icon
  margin-left 2rem
  font-size responsive .9rem 1.5rem
  width 20px
  height 20px
  background-repeat no-repeat
  background-position center
  background-size: cover

.arrow
  background-image url('../assets/arrows.svg')

.cart
  background-image url('../assets/cart.png')

.img-border
  border 5px solid #CAC2DA
  background-color #fff
  width 110px
  height 110px

.item-image
  cursor pointer

.head
    font-size responsive 2rem 2.5rem
  .text
    font-size responsive 1.5rem 2rem
  .params
    font-size responsive 1.7rem 2rem

.row
  margin 0