html
  font-size 12px
  box-sizing: border-box

body
  margin 0
  background-color #f4f1ff

h1
p
ul
  margin 0

#app
  font-family: 'Myriad Pro','Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.yellow
  color #ffde79

.icon
  margin-left 1rem
  font-size .9rem
  width 20px
  height 20px
  background-repeat no-repeat
  background-position center
  background-size: cover

.arrow
  background-image url('/svg/arrows.svg')

.cart
  background-image url('/icons/cart.png')

.img-border
  border 5px solid #CAC2DA
  background-color #fff
  width 110px
  height 110px